{% extends "home/base.html" %}
{% block content %}
{% load static %}
<div class="home-page-img" style="background-image: url('{% static 'images/home_page1.avif' %}');">
</div>
    
<div class="categories">
    {% for category_with_products in categories_with_products %}
    <div id="category{{ category_with_products.category.id }}" class="home-page-category-products">
        <h2 class="home-page-category-title">{{ category_with_products.category.name }}</h2>
        <div class="products">
            {% for product_group in category_with_products.products %}
                <div class="home-page-category-product-group">
                    {% for product in product_group %}

                    <a href="{% url 'product_detail' product.id %}" class="home-page-category-product" style="background: {{ category_with_products.category.background_css }}">
                        <div class="home-page-category-product-inner">
                            <div class="home-page-category-product-content" style="background: {{ category_with_products.category.background_css }}">
                                <h3 class="home-page-category-product-title">{{ product.name }}</h3>
                                <img class="home-page-category-product-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="home-main-about-us">
{% include "home/about_as.html" %}
</div>
{% block reviews %}
{% include "home/reviews.html" %}
{% endblock reviews %}
{% endblock %}